<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href="/add">Post a Message</a>

    <table>
        <tr><th>Title</th><th>Content</th><th>Posted By</th><th>Posted Date</th></tr>
        <tr th:each="message : ${messages}">
            <td th:text="${message.title}"></td>
            <td th:text="${message.content}"></td>
            <td th:text="${message.postedBy}"></td>
            <td th:text="${message.postedDate}"></td>

            <td th:href="@{/update/{id}(id=${course.id})}">Update</td>
            <td th:href="@{/detail/{id}(id=${course.id})}">Details</td>
            <td th:href="@{/delete/{id}(id=${course.id})}">Delete</td>

        </tr>
    </table>

</body>
</html>