<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="base :: head"></head>
<body>
<nav th:insert="base :: navbar"></nav>

<!--Message Cards Start-->
<div class="card" th:each="message : ${messages}">
    <div class="card-header" th:text="${message.title}"></div>
    <div class="card-body" >
        <blockquote class="blockquote mb-0">
            <p th:text="${message.content}"></p>
            <footer>
                    <p class="blockquote-footer">Posted By: <span th:text="${message.postedBy}"></span> on <span th:text="${message.postedDate}"></span></p>
            </footer>
        </blockquote>
    </div>
    <hr/>
    <div>
        <a class="side-by-side" th:href="@{/update/{id}(id=${message.id})}">Update</a>
        <a class="side-by-side" th:href="@{/detail/{id}(id=${message.id})}">Details</a>
        <a class="side-by-side" th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
    </div>
</div>
<!--Message Cards end-->

<div th:insert="base :: javascript"></div>
</body>
</html>