<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="#" th:action="@{/process}" th:object="${message}" method="post">
        <input type="hidden" th:field="*{id}"/>
        Title: <input type="text" th:field="*{title}"/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/><br/>

        Content: <textarea type="text" th:field="*{content}"></textarea>
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"/><br/>

        Posted By: <input type="text" th:field="*{postedBy}"/>
        <span th:if="${#fields.hasErrors('postedBy')}" th:errors="*{postedBy}"/><br/>

        <input type="submit" value="Post"/>
    </form>

</body>
</html>