<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="base :: head">

</head>
<body style="background-color: aqua">
<nav th:insert="base :: navbar"></nav>

    <a style="margin: 10px;" href="/"><img width="45px" src="https://res.cloudinary.com/dmfaehjot/image/upload/v1563463725/Week5Challenge/9895_f6r8qm.svg" alt="go back image"/></a><br/>

    <!--Message Cards Start-->
    <div class="card" style="margin: 10px">
        <div class="card-header" th:text="${message.title}"></div>
        <div class="card-body" >
            <blockquote class="blockquote mb-0">
                <p th:text="${message.content}"></p>
                <img width="25%" th:src="${message.image}"/>
                <footer>
                    <p class="blockquote-footer">Posted By: <span th:text="${message.postedBy}"></span> on <span th:text="${message.postedDate}"></span></p>
                </footer>
            </blockquote>
        </div>
        <hr/>
        <div>
            <a th:href="@{/delete/{id}(id=${message.id})}">Delete Message</a>
        </div>
    </div>
    <!--Message Cards Ends-->


<div th:insert="base :: javascript"></div>
</body>
</html>